body {
  background-image: url("./assets/WhatsApp-Image-2025-06-03-at-17.11.40-960x640.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

.login {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial;
  background-color: #f1f1f1;
  backdrop-filter: blur(4px);
}

input {
  width: 90%;
  padding: 8px;
  margin: 0 auto 12px auto;
  display: block;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #199450;
}

button:hover {
  font-weight: bold;
  background-color: #157a42;
}

.error {
  color: red;
  margin-top: 10px;
}

.header {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  padding: 20px 0;
}

footer {
  text-align: center;
  background-color: #157a42;
  padding: 20px 0;
  width: auto;
  font-family: Arial, sans-serif;
}

.error {
  color: red;
  margin-top: 10px;
}